:root {
  --main-color: #4d6bfe;
  --bg-sidebar: #212327;
  --bg-workspace: #292a2d;
  --bg-workspace-light: #f5f5f5;
  --bg-user-message: #414158;
  --bg-user-message-light: #e3e3e6;
  --bg-askbox: #404045;
  --icons-color: #abb2bd;
  --text: #fff;
  --text-light: #000;
}
